.env
/bootstrap/compiled.php
.env.*.php
.env.php
*.zip
*.log
.htaccess
*.sql
/includes/config/secrets.local.php
/oauth/callback/*.txt
/oauth/callback/.zoho_refresh_token
/oauth/callback/zoho_refresh_token
/oauth/callback/error_log
/error_log

!uploads
uploads/*

!images
images/*


1blog
/includes/config/classDbConnection.php
/includes/config/config.php

cgi-bin
vendor

**/sitemap.xml

**/config.php