.style4 {
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	font-family: Tahoma;
}
.border {
	border: 1px solid #336600;
}
.listBg {
	background-color: #D8D3CF;
}

.borderCopy {

	border: 1px solid #A24E0E;
}

.white_text {
	font-family: Tahoma;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
}

.tblHead {
	font-family: Tahoma;
	font-size: 11px;
	color:#0033CC	
	text-decoration: none;
	;
}

.white_BOLD {
	font-family: Tahoma;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

.box {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#666666;
	font-weight:900;	
	text-decoration: none;
	border: 1px solid #999999;
}
.txtBtn {
	font-family: Tahoma;
	font-size: 10px;
	color: #666666;
	text-decoration: none;
	border: 1px solid #999999;
	font-weight: bold;
}

.boxCopy {

	font-family: Tahoma;
	font-size: 10px;
	color: #333333;
	text-decoration: none;
	border: 1px solid #F97B00;
}
.link {
	font-family: Tahoma;
	font-size: 11px;
	color: #F97B00;
	text-decoration: none;
	font-weight: bold;
}
.link1 {
	font-family: Tahoma;
	font-size: 11px;
	color:#006600;
	text-decoration: none;
	font-weight: bold;
}
a:active {
	color:#009900;
}

.listBgAlt {

	background-color: #EBEAE9;
}

.white_BOLDbig {
	font-family: Tahoma;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
}
.link_new {

	font-family: Tahoma;
	font-size: 11px;
	color: #FE8004;
	text-decoration: none;
	font-weight: bold;
}
.link_newbig {
	font-family: Tahoma;
	font-size: 11px;
	color: #FE8004;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
}.error {
	font-family: Tahoma;
	font-size: 12px;
	font-weight:bold;
	color: #FF3300;
	text-decoration: none;
	border: 1px solid #F97B00;
}

#calendarDiv{
	position:absolute;
	width:205px;
	border:1px solid #317082;
	padding:1px;
	background-color: #FFF;
	font-family:arial;
	font-size:10px;
	padding-bottom:20px;
	visibility:hidden;
}
#calendarDiv span,#calendarDiv img{
	float:left;
}
#calendarDiv .selectBox,#calendarDiv .selectBoxOver{
	
	line-height:12px;
	padding:1px;
	cursor:pointer;
	padding-left:2px;
}

#calendarDiv .selectBoxTime,#calendarDiv .selectBoxTimeOver{	
	line-height:12px;
	padding:1px;
	cursor:pointer;
	padding-left:2px;
}

#calendarDiv td{
	padding:3px;
	margin:0px;
	font-size:10px;
}

#calendarDiv .selectBox{
	border:1px solid #E2EBED;		
	color: #E2EBED;
	position:relative;
}
#calendarDiv .selectBoxOver{
	border:1px solid #FFF;
	background-color: #317082;
	color: #FFF;
	position:relative;
}
#calendarDiv .selectBoxTime{
	border:1px solid #317082;		
	color: #317082;
	position:relative;
}
#calendarDiv .selectBoxTimeOver{
	border:1px solid #216072;	
	color: #216072;
	position:relative;
}

#calendarDiv .topBar{
	height:16px;
	padding:2px;
	background-color: #317082;


}
#calendarDiv .activeDay{	/* Active day in the calendar */
	color:#FF0000;
}
#calendarDiv .todaysDate{
	height:17px;
	line-height:17px;
	padding:2px;
	background-color: #E2EBED;
	text-align:center;
	position:absolute;
	bottom:0px;
	width:201px;
}
#calendarDiv .todaysDate div{
	float:left;
}
	
#calendarDiv .timeBar{
	height:17px;
	line-height:17px;
	background-color: #E2EBED;
	width:72px;
	color:#FFF;
	position:absolute;
	right:0px;
}

#calendarDiv .timeBar div{
	float:left;
	margin-right:1px;
}


#calendarDiv .monthYearPicker{
	background-color: #E2EBED;
	border:1px solid #AAAAAA;
	position:absolute;
	color: #317082;
	left:0px;
	top:15px;
	z-index:1000;
	display:none;

}
#calendarDiv #monthSelect{
	width:70px;
}
#calendarDiv .monthYearPicker div{
	float:none;
	clear:both;	
	padding:1px;
	margin:1px;	
	cursor:pointer;
}
#calendarDiv .monthYearActive{
	background-color:#317082;
	color: #E2EBED;
}

#calendarDiv td{
	text-align:right;
	cursor:pointer;
}

#calendarDiv .topBar img{
	cursor:pointer;
}
#calendarDiv .topBar div{
	float:left;
	margin-right:1px;
}.head1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #F7AF0F;
	text-decoration: none;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
}
.footer_link {
	font-family: Tahoma;
	font-size: 11px;
	color: #F97B00;
	text-decoration: none;
	font-weight: bold;
}
.footer_divider {
	font-family: Tahoma;
	font-size: 10px;
	color: #F97B00;
	text-decoration: none;
	font-weight: normal;
}
.txt_CustomHeading {
	font-family: Times New Roman, Times, serif;
	font-size: 19px;
	color: #FFFFFF;
}

tbl.header
{
background:#0033CC;

}